*{
    margin: 0px;
    padding: 0px;
 }
 header{
    display: flex;
    flex-direction: row; /* This is default so you can omit it but it's good to be explicit  */
    justify-content: flex-start; /* This will snap all content of header to the left due to 'flex-direction: row'  */
    background-color: rgb(129, 27, 27);
    border-bottom: solid;
    padding: 0.5rem 1rem;
    height: 40px; /* Padding top/bottom then left/right. 1rem = default pixel size of html font (14px or 16px etc) so 0.5rem = 7px or 8px  */
  }
 header > img{
    height: 40px; /* Set the height of your image  */
    width: auto; /* Keep the height/width ratio of source image  */
 }
 nav{
    display: flex;
    flex-direction: row;
    flex: 1; /* Use the rest of the available space of the <header> */
    justify-content: right; /* Keep the links in the center of this element  */
    align-items: right; /* Puts the links vertically in the center of the <nav> */
 }
 nav a{
    padding: 1rem;
    font-family: Georgia; /* Take away the default link styling  */
    color: rgb(230, 219, 219);
    border-bottom: 2px solid transparent;
    text-decoration: none;
 }
 nav  a:hover{
    border-bottom: 2px solid rgb(224, 224, 224);
    transition: border-bottom 0.4s ease-in;
 }
 .mephoto{
   margin-top: 20px;
   margin-left: 20px;
    width: auto;
    height: 350px;
    padding-top: 30px;
    padding-right: 30px;

 }
 .maincontent{
   height: 500px;
   width: auto;
   background-color: rgb(234, 235, 235);
   display: flex;
   flex-direction: row;
 }

 .section1{
   align-content:center;
   align-items: center ;
   justify-content: center ;
   font-size: large;
   color: rgb(125, 26, 26);
   padding-left: 30px;
   padding-right: 30px;

 }
 .section h1 {
   font-family: monospace;
   font-size : large;
 }
 .aboutme{
   height: 350px;
   width: auto;
   background-color: rgb(234, 235, 235);
   display: flex;
   flex-direction: row;
 }
.about-containt{
   align-content:center;
   align-items: center ;
   justify-content: center ;
   color: rgb(125, 26, 26);
   padding-right: 300px;
   padding-left: 300px;


}
.about-containt h1 {
   text-decoration-line: underline;
}
.about-containt p{
   font-size: large;
}
.button1{
   background-color: brown;
   cursor: pointer;
   border: 2px solid  rgb(0, 0, 0);
   border-radius: 8px;
   padding:12px 28px;
   box-shadow: 0 9px #999;
   color: #fff;
   align-items: center;
   text-decoration: none;
}
.resume{
   background-color: brown;
   color: white;
   cursor: pointer;
   border: 2px solid  rgb(0, 0, 0);
   border-radius: 8px;
   padding:12px 28px;
   box-shadow: 0 9px #999;
   text-size-adjust: large;
   text-decoration: none;
}
.button1:hover{
   background-color: #fdfbfabb;
   color: white;
}
.button1:active {
   background-color: #652e1ebb;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 }
 footer {
   background-color: #f4f4f4;
   text-align: center;
   padding: 10px;
}
.skills{
   
   align-content:center;
   align-items: center ;
   justify-content: center ;
   height: 400px;
   width: 400px;
   padding-right: 300px;
   padding-left: 300px;
}
.skill {
	margin-top: 30px;
	font-size: 17px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background: #8a0b0b;
	height: 5px;
	float: left;
}
.heading-text{
   color:rgb(129, 27, 27);
   text-decoration-line: underline;
   font-size: 20px;
   display: flex;
   align-content:center;
   align-items: center ;
   justify-content: center ;

}


.contact form {
	width: 66%;
	margin: 0px auto;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	background: #850e0e;
	color: #fff;
	border: none;
	font-size: 16px;
}
.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: #881111;
}
.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.container {
	width: 1100px;
   height: 400px;
	margin: 0px auto;
	
   display: table;
}
.contactus{
   display: block;
   height: 100px;
   width: auto;
   background-color: rgb(234, 235, 235);
   display: flex;
   justify-content: space-between;
   padding-left: 30px ;
   padding-right: 30px ;
   padding-top: 20px;
}
.width-33{
   color : rgb(118, 13, 13);
}